<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WIFI.Ausstellung.Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WIFI.Ausstellung.Controller.Properties.Settings>
            <setting name="Datenbankbenutzer" serializeAs="String">
                <value>clientbenutzer</value>
            </setting>
            <setting name="Datenbankpasswort" serializeAs="String">
                <value>cl1.entp4ssW0rt</value>
            </setting>
        </WIFI.Ausstellung.Controller.Properties.Settings>
    </applicationSettings>
</configuration>